In [38]:
# Dependencies.
import pandas as pd
import numpy as np
import hvplot.pandas
import matplotlib.pyplot as plt
from scipy.stats import linregress
import seaborn as sns

In [39]:
# Declare a path to the file.
filepath = '../sarah_work/clean_life_expectancy.csv'
# Load file into a DataFrame.
df = pd.read_csv(filepath)

In [40]:
# # Preview the DataFrame.
# display(df.shape)
# display(df.info())
# display(df.head())

In [41]:
#Despite its classification as a lower-middle income country, Eswatini suffers from severe poverty, corruption, and high unemployment.
# 57.9217
# df.loc[df.deaths_by_suicide > 57]

,Unnamed: 0,country,year,life_expectancy,smoking_deaths,obesity_deaths,deaths_by_suicide,mean_years_of_schooling,population,gdp,gov_health_expenditure
419,419,Eswatini,2004,42.5381,3.718784,301.70193,57.9217,3.276,1065776,5976.2120,9.74
420,420,Eswatini,2005,42.1254,3.661107,305.60530,60.0920,3.130,1071895,6298.5312,12.61
421,421,Eswatini,2006,43.1196,3.669805,300.16782,64.9321,3.308,1077747,6639.7183,12.62
422,422,Eswatini,2007,43.6411,3.703147,295.73010,74.1168,3.486,1084015,6894.0874,12.37
423,423,Eswatini,2008,44.1749,3.732732,292.13336,75.8160,3.664,1089885,6913.3486,13.34
424,424,Eswatini,2009,44.6394,3.748550,288.16647,75.1480,3.842,1094890,6989.3780,13.33
425,425,Eswatini,2010,46.6191,3.807509,280.66107,70.4886,4.020,1099926,7221.3360,13.76
426,426,Eswatini,2011,48.1946,3.884035,271.29860,65.9941,4.228,1105379,7347.2046,14.28
427,427,Eswatini,2012,49.8352,3.904393,266.28690,66.2601,4.436,1111453,7701.3940,12.65
428,428,Eswatini,2013,51.4863,3.926691,261.17526,62.0203,4.644,1118329,7949.5880,11.66

In [42]:
# Highest GDP - United Arab Emirates - 2019 71782.160
# df.loc[df.gdp > 60000]

,Unnamed: 0,country,year,life_expectancy,smoking_deaths,obesity_deaths,deaths_by_suicide,mean_years_of_schooling,population,gdp,gov_health_expenditure
1312,1312,United Arab Emirates,2013,78.8528,10.833841,254.78644,5.91,10.338129,8751853,62354.824,8.53
1313,1313,United Arab Emirates,2014,79.0442,11.873135,213.48941,5.60,10.506292,8835957,64334.090,7.78
1314,1314,United Arab Emirates,2015,79.2232,11.800965,211.36116,5.25,10.674457,8916909,68076.630,9.07
1315,1315,United Arab Emirates,2016,79.3347,11.710993,208.40855,4.97,10.842620,8994266,71244.586,9.07
1316,1316,United Arab Emirates,2017,79.5036,11.604098,206.02695,4.78,12.055400,9068297,71182.370,7.81
1317,1317,United Arab Emirates,2018,79.6274,11.489130,204.14688,5.01,12.484000,9140172,71550.555,7.92
1318,1318,United Arab Emirates,2019,79.7262,11.373538,203.02620,5.24,12.694030,9211660,71782.160,7.92

In [ ]:
# df1 = df.groupby('country').agg({'deaths_by_suicide': 'mean', 'gdp': 'mean'}).reset_index()
# df1.head()

In [ ]:
df1 = df.groupby('country').agg({'deaths_by_suicide': 'mean', 'gdp': 'mean'}).reset_index()
x_values = df1.gdp
y_values = df1.deaths_by_suicide
# s = df1.deaths_by_suicide
# plt.scatter(x_values, y_values, facecolor='#881600', edgecolor='black', s=s*10)
plt.scatter(x_values, y_values, facecolor='#881600', edgecolor='black', s=100)
plt.xlabel('\nGDP (per capita)', fontsize=16, fontname='Arial')
plt.ylabel('Deaths by Suicide (per 100,000)\n', fontsize=16, fontname='Arial')
plt.title('Deaths by Suicide vs GDP\n', fontweight='bold', fontsize=16)
plt.grid(color='lightgrey', linestyle = "--", alpha=0.5)
# plt.annotate(line_eq,(40,60000),fontsize=15,color='black')
plt.xlim (-5000,70000)
plt.ylim (0,65)
plt.show
# Save the figure
plt.savefig("output_data/Fig1.png")

In [ ]:
# # Bubble Chart
# df1_1 = df1.groupby('country').agg({'deaths_by_suicide': 'mean', 'gdp': 'mean'}).reset_index()
# x_values = df1_1.gdp
# y_values = df1_1.deaths_by_suicide
# s = df1_1.deaths_by_suicide
# plt.scatter(x_values, y_values, facecolor='#881600', edgecolor='black', s=s*10)
# # plt.scatter(x_values, y_values, facecolor='#881600', edgecolor='black', s=100)
# plt.xlabel('\nGDP (per capita)', fontsize=16, fontname='Arial')
# plt.ylabel('Deaths by Suicide (per 100,000)\n', fontsize=16, fontname='Arial')
# plt.title('Deaths by Suicide vs GDP\n', fontweight='bold', fontsize=16)
# plt.grid(color='lightgrey', linestyle = "--", alpha=0.5)
# # plt.annotate(line_eq,(40,60000),fontsize=15,color='black')
# plt.xlim (-5000,70000)
# plt.ylim (0,65)
# plt.show
# # Save the figure
# plt.savefig("output_data/Fig2.png")

In [ ]:
df1 = df.groupby('country').agg({'deaths_by_suicide': 'mean', 'gdp': 'mean'}).reset_index()
# USING LINREGRESS
x_values = df1.gdp
y_values = df1.deaths_by_suicide
# makes the line of best fit
(slope, intercept, rvalue, pvalue, stderr) = linregress(x_values, y_values)
regress_values = x_values * slope + intercept # calculate the predictions
line_eq = "y = " + str(round(slope,2)) + "x + " + str(round(intercept,2))

plt.figure(figsize=(10, 6))
plt.scatter(x_values, y_values, facecolor='#C16200', edgecolor='black', s=100)
plt.plot(x_values, regress_values, color = 'black') # plot the line of best fit
plt.xlabel('\nGDP (per capita)', fontsize=16, fontname='Arial')
plt.ylabel('Deaths by Suicide (per 100,000)\n', fontsize=16, fontname='Arial')
plt.title('Deaths by Suicide vs GDP\n', fontweight='bold', fontsize=16)
plt.grid(color='lightgrey', linestyle = "--", alpha=0.5)
plt.annotate(line_eq,(40000,50),fontsize=15,color='black')
plt.text(40000, 40, f'R-squared: {round(rvalue**2, 2)}', fontsize=15, color='black')

plt.xlim (0,70000)
plt.ylim (0,60)
# print(f"The r-squared is: {rvalue**2}")
plt.show()

In [ ]:
# df2 = df.groupby('country').agg({'deaths_by_suicide': 'mean', 'mean_years_of_schooling': 'mean'}).reset_index()
# df2.head()

In [ ]:
df2 = df.groupby('country').agg({'deaths_by_suicide': 'mean', 'mean_years_of_schooling': 'mean'}).reset_index()
x_values = df2.mean_years_of_schooling
y_values = df2.deaths_by_suicide
# s = df2.deaths_by_suicide
# plt.scatter(x_values, y_values, facecolor="#09F574", edgecolor='black', s=s*10)
plt.scatter(x_values, y_values, facecolor="#09F574", edgecolor='black', s=100)
plt.xlabel('\nMean Years of Schooling (age 25+)', fontsize=16, fontname='Arial')
plt.ylabel('Deaths by Suicide (per 100,000)\n', fontsize=16, fontname='Arial')
plt.title('Deaths by Suicide vs Mean Years of Schooling\n', fontweight='bold', fontsize=16)
plt.grid(color='lightgrey', linestyle = "--", alpha=0.5)
plt.annotate(line_eq,(40,12),fontsize=15,color='black')
plt.xlim (0,12)
plt.ylim (0,70)
plt.show
# Save the figure
plt.savefig("output_data/Fig4.png")

In [ ]:
# # Bubble Chart
# df2_1 = df2.groupby('country').agg({'deaths_by_suicide': 'mean', 'mean_years_of_schooling': 'mean'}).reset_index()
# x_values = df2_1.mean_years_of_schooling
# y_values = df2_1.deaths_by_suicide
# s = df2_1.deaths_by_suicide
# plt.scatter(x_values, y_values, facecolor="#09F574", edgecolor='black', s=s*10)
# # plt.scatter(x_values, y_values, facecolor="#09F574", edgecolor='black', s=100)
# plt.xlabel('\nMean Years of Schooling (age 25+)', fontsize=16, fontname='Arial')
# plt.ylabel('Deaths by Suicide (per 100,000)\n', fontsize=16, fontname='Arial')
# plt.title('Deaths by Suicide vs Mean Years of Schooling\n', fontweight='bold', fontsize=16)
# plt.grid(color='lightgrey', linestyle = "--", alpha=0.5)
# plt.annotate(line_eq,(40,12),fontsize=15,color='black')
# plt.xlim (0,12)
# plt.ylim (0,70)
# plt.show
# # Save the figure
# plt.savefig("output_data/Fig5.png")

In [ ]:
df2 = df.groupby('country').agg({'deaths_by_suicide': 'mean', 'mean_years_of_schooling': 'mean'}).reset_index()
# USING LINREGRESS
x_values = df2.mean_years_of_schooling
y_values = df2.deaths_by_suicide
# makes the line of best fit
(slope, intercept, rvalue, pvalue, stderr) = linregress(x_values, y_values)
regress_values = x_values * slope + intercept 
line_eq = "y = " + str(round(slope,2)) + "x + " + str(round(intercept,2))

plt.figure(figsize=(10, 6))
plt.scatter(x_values, y_values, facecolor='#4A7C59', edgecolor='black', s=100)
plt.plot(x_values, regress_values, color = 'black')
plt.xlabel('\nMean Years of Schooling (age 25+)', fontsize=16, fontname='Arial')
plt.ylabel('Deaths by Suicide (per 100,000)\n', fontsize=16, fontname='Arial')
plt.title('Deaths by Suicide vs Mean Years of Schooling\n', fontweight='bold', fontsize=16)
plt.grid(color='lightgrey', linestyle = "--", alpha=0.5)
plt.annotate(line_eq,(8,50),fontsize=15,color='black')
plt.text(8, 40, f'R-squared: {round(rvalue**2, 2)}', fontsize=15, color='black')
plt.xlim (0,13)
plt.ylim (0,60)
# print(f"The r-squared is: {rvalue**2}")
plt.show()

In [ ]:
# df2.info

In [ ]:
df4 = df.groupby('country').agg({'deaths_by_suicide': 'mean', 'life_expectancy': 'mean'}).reset_index()
x_values = df4.life_expectancy
y_values = df4.deaths_by_suicide
# makes the line of best fit
(slope, intercept, rvalue, pvalue, stderr) = linregress(x_values, y_values)
regress_values = x_values * slope + intercept 
line_eq = "y = " + str(round(slope,2)) + "x + " + str(round(intercept,2))

plt.figure(figsize=(10, 6))
plt.scatter(x_values, y_values, facecolor='#4A7C59', edgecolor='black', s=100)
plt.plot(x_values, regress_values, color = 'black')
plt.xlabel('\nLife Expectancy', fontsize=16, fontname='Arial')
plt.ylabel('Deaths by Suicide (per 100,000)\n', fontsize=16, fontname='Arial')
plt.title('Deaths by Suicide vs Life Expectancy\n', fontweight='bold', fontsize=16)
plt.grid(color='lightgrey', linestyle = "--", alpha=0.5)
plt.annotate(line_eq,(8,50),fontsize=15,color='black')
plt.text(70, 50, f'R-squared: {round(rvalue**2, 2)}', fontsize=15, color='black')

plt.ylim (0,90)
# print(f"The r-squared is: {rvalue**2}")
plt.show()

In [ ]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [ ]:
df.rename(columns={'year': 'Year','life_expectancy': 'Life Expectancy','smoking_deaths': 'Smoking Deaths','obesity_deaths': 'Obesity Deaths','deaths_by_suicide': 'Deaths by Suicide','mean_years_of_schooling': 'Mean Years of Schoooling','population': 'Population','gdp': 'GDP','gov_health_expenditure': 'Govt. Health Expenditure',}, inplace=True)

In [ ]:
corrs = df.corr(numeric_only = True)
plt.figure(figsize=(8,6))
sns.heatmap(corrs, cmap='Spectral')
plt.title('Life Expectancy Data Set\n', fontweight='bold', fontsize=16)
plt.xticks(rotation=45, ha='right')
plt.show
# Save the figure
plt.savefig("output_data/Fig8.png")